<a href="https://colab.research.google.com/github/haaraamk/MLforAI/blob/main/week7_haramkang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Regular Expression ("regex"): describes a pattern of text

https://www.nextree.co.kr/p4327/

Character classes

1. . any character except newline

2. \w \d \s word, digit, whitespace

3. \W \D \S not word, not digit, not whitespace

4. [abc] any of a, b, or c

5. [^abc] not a, b, or c6. [a-h] character between a & h

Anchors

1. ^abc$start / end of the string

2. \b \Bword boundary, not-word boundary

Quantifiers

1. a* a+ a? 0 or more, 1 or more, 0 or 1

2. a{5} a{2,}exactly five, two or more

3. a{1,3} between 1 and 34. a+? A{2,}?match as few as possible

Groups

1. (abc) capture group

2. \1backreferenceto group #1

3. (?:abc)non-capturing group

# Goal for this practice session

* Practice regular expression codes

* Try running ch1 codes of ML book

# Tasks for today 1

4aa  13
aba b44
ababaa5
yaya---
ikwak2@cau.ac.kr
il.youp.kwak@gmail.com
02-111-1234
010-3234-5555
01032321111
hello send me a message(name.kwak@cau.ac.kr)
callme(032 111 1424)

Try to extract phone numbers

\b: 단어 경계 (앞뒤로 공백, 구두점 등이 없는 부분).

\d{2,3}: 2 또는 3자리의 숫자 (국가 번호를 나타내는 부분).

[-\s]?: 하이픈(-) 또는 공백(\s) 문자가 0 또는 1회 나타날 수 있음을 나타냅니다.

\d{3,4}: 3 또는 4자리의 숫자 (지역 번호 또는 나머지 전화번호 부분).

\d{4}: 4자리의 숫자 (전화번호 끝 부분).

\b: 단어 경계 (앞뒤로 공백, 구두점 등이 없는 부분).

\bword\b: "word"와 정확히 일치하는 위치를 찾음.

\b\d{3}\b: 세 자리 숫자와 정확히 일치하는 위치를 찾음.

\b\w+\b: 단어 문자로 이루어진 단어와 일치하는 위치를 찾음.

# Tasks for today 2

* Open ch1 of ML book, Practice codes

# Tasks for today 3

* You can practice last year’s mid-term problems

In [ ]:
sort_values(ascending=False)

In [ ]:
# 고유한 값의 수 찾기

covid['countriesAndTerritories'].nunique()

In [ ]:
## Your code here
df = covid[covid['countriesAndTerritories'].str.startswith('A')]
# 2020년 5월, 6월 및 7월에 해당하는 데이터 추출
df1 = df['2020-05-01':'2020-07-31']
# 날짜열이 인덱스 일 때만 이 방법을 사용할 수 있음

In [ ]:
## Your codes here
# 주어진 데이터프레임 (예: 'df')에서 'countryterritoryCode'를 기준으로 'cases'와 'deaths' 변수를 넓은 형식으로 변환
wide_data = df1.pivot(columns='countryterritoryCode', values=['cases', 'deaths'])

In [ ]:
### Your code here:
# 주어진 데이터프레임 (예: 'df')에서 'countryterritoryCode'를 기준으로 'cases' 합계 구하기
df1.groupby('countryterritoryCode')['cases'].sum().sort_values(ascending=False)
# sort_values(ascending=False) : 내림차순으로 정렬